.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw;
  background-color: var(--green);
  .logo{
    padding-top: 1em;
    display: flex;
    width: 8em;
  }
  .resources{
    display: flex;
    flex-direction: row;
    .about, .services, .projects {
      color: var(--green3);
      font-weight: 600;
      padding: 2.2em;
      &:hover{
        filter: brightness(0) invert(1);
      }
    }
  }
  .contacts{
    .facebook, .instagram, .twitter, .pinterest{
      padding: 1em;
      &:hover{
        filter: brightness(0) invert(1);
      }
    }
  }
}
